<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platz</title>
    <link rel="stylesheet" href="css/framework/framework.css">
    <link rel="stylesheet" href="css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body>

    <header>

        <!-- LOGO HEADER -->
        <section id="logo-header">
            <div class="container">
                <div>
                    <a href="#">
                        <figure>
                            <img src="img/logo-burst.png" alt="Logo Platz">
                        </figure>
                    </a>
                </div>
                <a href="#" class="menu-ham">&nbsp;</a>
                <form action="" method="get">
                    <input type="search" name="search-header" id="search">
                </form>
            </div>
        </section>

        <!-- FILTERS -->
        <section id="filters-desktop">
            <div class="container">
                <ul>
                    <li>
                        <a href="#">
                            <figure><img src="img/icon-premium.svg" alt="Premium"></figure>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="img/icon-photo.svg" alt="Photos"></figure>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="img/icon-font.svg" alt="Font"></figure>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="img/icon-themes.svg" alt="Theme"></figure>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="img/icon-psd.svg" alt="Photoshop"></figure>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <figure><img src="img/icon-ai.svg" alt="Illustrator"></figure>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <!-- FILTERS MOBILE -->
        <section id="filters-mobile">
            <div id="blank-space">&nbsp;</div>
            <div id="menu-mobile" class="hidden">
                <div class="cross-menu">&nbsp;</div>
                <figure>
                    <img src="img/small-logo.svg" alt="Burstfly">
                </figure>
                <ul>
                    <li><a href="#">Premium resources</a></li>
                    <li><a href="#">Latest themes</a></li>
                    <li><a href="#">PSG goodies</a></li>
                    <li><a href="#">Illustrator freebies</a></li>
                    <li><a href="#">Free fonts</a></li>
                    <li><a href="#">Free stock photos</a></li>
                </ul>
            </div>
        </section>

    </header>


    <main>

        <!-- Articles -->
        <section id="products" class="container grid">

            <article class="article col-xs-12 col-s-6 col-m-4 col-xl-3">
                <a href="#">
                    <figure>
                        <img src="img/psd-4.jpg" alt="Wordpress theme">
                        <figcaption>Symphony is a responsive one page website template designed with sketches and coded
                            with html5 and php. Freebie released by Lacoste Xavier.</figcaption>
                    </figure>
                </a>
                <div>
                    <figure>
                        <img src="img/icon-psd.svg" alt="Photoshop">
                        <figcaption>Photoshop</figcaption>
                    </figure>
                    <h2>Wordpress theme</h2>
                </div>
            </article>

            <article class="article col-xs-12 col-s-6 col-m-4 col-xl-3">
                <a href="#">
                    <figure>
                        <img src="img/psd-4.jpg" alt="Wordpress theme">
                        <figcaption>Symphony is a responsive one page website template designed with sketches and coded
                            with html5 and php. Freebie released by Lacoste Xavier.</figcaption>
                    </figure>
                </a>
                <div>
                    <figure>
                        <img src="img/icon-psd.svg" alt="Photoshop">
                        <figcaption>Photoshop</figcaption>
                    </figure>
                    <h2>Wordpress theme</h2>
                </div>
            </article>

        </section>

        <!-- PAGINATE -->
        <section id="pagination">
            <a href="#"><img src="img/prev.svg" alt="Previous"></a>
            <a href="#"><img src="img/next.svg" alt="Next"></a>
        </section>

        <h1 class="logo-accueil">platz</h1>

    </main>


    <footer>

        <!-- FOOTER INFOS -->
        <section id="info" class="container grid">
            <article class="col-xs-12 col-xl-3">
                <h3 class="txt-type-up">What is platz</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officiis tempore culpa exercitationem
                    facere ex dolor nam! Minima, saepe neque?</p>
            </article>
            <article class="col-xs-12 col-xl-3">
                <h3 class="txt-type-up">How does it work</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel optio enim doloremque dolores totam,
                    quis et ipsa officia mollitia culpa?</p>
            </article>
            <article class="col-xs-12 col-xl-3">
                <h3 class="txt-type-up">Get in touch!</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam beatae delectus quae minima
                    dignissimos voluptatem voluptatibus laborum, eaque deserunt dolor.</p>
            </article>
            <article class="col-xs-12 col-xl-3">
                <h3 class="txt-type-up">Newsletter</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio cum molestias voluptas repellendus
                    quas doloremque odio. Atque doloremque qui praesentium.</p>
                <form action="">
                    <input type="text" name="newsletter" id="newsletter-footer">
                </form>
            </article>
        </section>

        <!-- FOOTER COPY & SOCIAL -->
        <section id="copy-social">
            <div class="container">
                <div>
                    Copyright &copy; 2016. Template by&nbsp;<a href="https://designseer.com/">Dcrazed</a>
                </div>
                <ul>
                    <li><a href="#">d</a></li>
                    <li><a href="#">i</a></li>
                    <li><a href="#">f</a></li>
                    <li><a href="#">g</a></li>
                </ul>
            </div>
        </section>

    </footer>

</body>

</html>